{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %} 
<h1 align="center">Write a note</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{note.data}}
        <button class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>   
    {% endfor %}
</ul>

<form method="post">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br>
    <div class="align-center">
        <input type="submit" class="btn btn-primary" value="Add a note">
    </div>
</form>
{% endblock %}
